<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
    <title>Available Projects on Protoboard</title>
	<link rel="shortcut icon" href="/myoutgo/chrome/common/trac.ico" type="image/x-icon" />
    <link rel="icon" href="/myoutgo/chrome/common/trac.ico" type="image/x-icon" />
    
	<link href="/myoutgo/chrome/common/personalization_home_trac/personalized.css" rel="stylesheet" type="text/css" />
	<meta name="robots" content="noindex, nofollow" />
	<script type="text/javascript">
	function hasClass(ele,cls) {
		return ele.className.match(new RegExp('(\\s|^)'+cls+'(\\s|$)'));
	}
	function addClass(ele,cls) {
		if (!this.hasClass(ele,cls)) ele.className += " "+cls;
	}
	function removeClass(ele,cls) {
		if (hasClass(ele,cls)) {
			var reg = new RegExp('(\\s|^)'+cls+'(\\s|$)');
			ele.className=ele.className.replace(reg,' ');
		}
	}

	backs = ["1223287779413.jpeg", "1223287789692.jpeg", "1223299128959.jpeg", "1227920142561.jpeg", "1227944208161.jpeg", "1227965332814.jpeg", "1227965332815.jpeg"];
	</script>  
  </head>

<body>
	<div id="container">
		<div id="header"><img src="/myoutgo/chrome/common/personalization_home_trac/trac_logo.png" /></div>
		<div id="Content">
			<div class="heroLeft">
				<h3><span>Projects on Trac</span></h3>
				<ul class="heroNavigation ui-accordion">
				<li>
					<ul>
					
						  <py:for each="project in projects" py:choose="">
							<li py:when="'sandbox' in project.name.lower()">
								<!--Sandbox-->
							</li>
							<li py:otherwise=""><a href="$project.href" title="$project.description">$project.name</a></li>
						  </py:for>
					</ul>
				</li>
				</ul>
			</div>


			<div class="heroRight">
			<h3><span>Projects on Github.com</span></h3>
			<ul class="heroNavigation ui-accordion">
			<li>
			<ul>
				<li><a href="http://github.com/coto/code-jam" title="Google Code Jam">Code Jam</a></li>
				<li><a href="http://github.com/coto/trac-theme" title="Trac Theme">Trac Theme</a></li>
				<li><a href="http://github.com/coto/fast-easy-server-install" title="fast-easy-server-install">Fast &amp; Easy Server Install</a></li>
				<li><a href="http://github.com/coto/code-jam" title="jQuery Plugin fontsizer">fontSizer</a></li>
			</ul>
			</li>
			</ul>
			</div>
			
			
		</div>
		<div id="footer">
			<a href="http://python.org">
			<img src="http://www.python.org/community/logos/python-powered-w-100x40.png" alt="Python Powered"/>
			</a>
		</div>
	</div>
	<script type="text/javascript">
		var content = document.getElementById("Content");
		rdm_index = Math.floor(Math.random()*backs.length);
		content.style.background = "transparent url('/myoutgo/chrome/common/personalization_home_trac/backgrounds/" +  backs[rdm_index] + "') 0 0 no-repeat";
		
		addClass(content, "back_" + Math.floor(rdm_index));
	</script>
  </body>
</html>
