body {
 font: normal 13px Arial,Verdana,sans-serif!important;
 background-color: #ddd!important;
}
/* Link styles */
:link, :visited {
 color: #00BAF2!important;
}

/* Forms */
input[type=button], input[type=submit], input[type=reset] {
	background: transparent url("sprite_buttons.png") no-repeat 0 -480px!important;
	color: #00BAF2!important;
	height: 27px!important;
	border-width: 0!important;
	border-right: 1px solid #ccc!important;
	padding: 0 8px!important;
	cursor: pointer!important;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	background-position: 0 -520px!important;
	background-color: transparent!important;
}

/* Main */
body #main{
	margin-left: 200px;
	padding: 15px 10px!important;
	margin-top: 20px;
	min-height: 300px;
	position: relative;
	background-color: white!important;
}

body #ctxtnav{
	position: absolute;
	right: 10px;
	top: 0;
}

/* Main navigation bar */
body div#mainnav.nav {
	font: normal 10px Arial,verdana,sans-serif!important;
	width: 185px!important;
	position: absolute;
	left: 10px;
	top: 90px;
	background: url("tsp_black_60.png")!important;
	border-width: 0!important;
	padding: 0!important;
}

body div#mainnav.nav ul {
	padding: 0;
	margin: 0;
	text-align: left;
}

body div#mainnav.nav li {
	display: block;
	padding: 0;
	border-width: 0;
}
body div#mainnav.nav li a{
	display: block!important;
	color: #FFF!important;
	padding: 5px 10px;
	border-width: 0!important;
}
body div#mainnav.nav li a:link, body div#mainnav.nav li a:visited{
	background: none;
	border-width: 0;
	padding: 5px 10px!important;
	font: normal 12px Arial,verdana,sans-serif!important;
}
body div#mainnav.nav li.active :link, body div#mainnav.nav li.active :visited, body div#mainnav.nav li.active :hover{
	background: #FFF!important;
	color: #000!important;
	cursor: default!important;
	font-weight: bold!important;
}

body div#mainnav.nav :link:hover, body div#mainnav.nav :visited:hover {
	background: url("tsp_black_60.png")!important;
}

	body div#mainnav.nav li.first, body div#mainnav.nav li.first :hover {
		background: transparent url("bak_hero_navigation_header_r.png") 0 0 no-repeat!important;
	}
	body div#mainnav.nav li.first a, body div#mainnav.nav li.first a:hover{
		background: transparent url("bak_hero_navigation_header_l.png") 0 0 repeat-x!important;
		border-color: 2px solid red!important;
		color: #4d4d4d!important;
		font-weight: bold!important;
	}

/*b.coto*/
body div#banner div#header h1 a#trac_logo{
	background: white url("logo.png") left top no-repeat;
	padding: 15px 195px 15px 0;
}
body div#banner div#header h1 a#title_project{
	background-color: white;
	color: #00A9E0;
	padding: 15px 40px 15px 40px;
}


body #main .milestone .info dl{
 font-style: normal;
}
body #main em{
 color: #00BAF2;
}
#metanav a{
 color: #4d4d4d;
 text-transform: uppercase;
 background-color: none;
 border-bottom-width: 0;
 font-size: 1.2em;
}
#metanav a:link:hover, #metanav a:visited:hover{
 text-decoration: underline;
 background-color: transparent;
}
#metanav.nav li.first { text-transform: uppercase; font-weight: bold; }

/*e.coto*/
#footer{
	margin-top: 10px;
}
